In [23]:
# Importar librerias 

import pandas as pd
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

Se importan los datos escalados usando std

In [24]:
usos_wide = pd.read_csv(r'D:\Respaldo toshiba\Documents\GitHub\manifolds\clustering-cities-spain\df_datos_std_clus.csv', encoding = 'ISO-8859-1')
usos_wide

          F1        F2        F3        F4        F5
0  -0.407437 -0.499535 -0.262515  0.485211 -0.177092
1  -1.038192 -0.130561 -0.664670 -0.801564  0.139842
2  -1.475112 -0.146921 -1.211497  0.824612  2.555019
3  -0.992170 -0.455778 -1.047413 -0.853977  0.263686
4   0.350127 -1.057777 -0.332275  1.686345 -1.004493
..       ...       ...       ...       ...       ...
66  0.686712 -0.711340  2.284940 -0.828068  0.419490
67 -1.274397 -0.545220 -0.021397 -0.457144  0.585503
68  0.748328 -0.635265  1.676140  1.207623  0.104775
69  0.093911  0.142310 -1.026051 -0.238706 -0.019512
70 -0.975552 -0.599232  1.406054 -0.540330  0.573518

[71 rows x 5 columns]

Se elimina la columna ciudades para poder tener solo los datos númericos en un solo dataframe.

In [26]:
usos_wide.columns

Index(['F1', 'F2', 'F3', 'F4', 'F5'], dtype='object')

# Se importa la función outliers_iqr desde el script outlier

In [27]:
import sys
sys.path.append('datos/notebook/')
from outliers import outliers_iqr

In [29]:
outliers_st = outliers_iqr(usos_wide)

In [30]:
outliers_st

        F1      F2       F3      F4       F5
0   tipico  tipico   tipico  tipico   tipico
1   tipico  tipico   tipico  tipico   tipico
2   tipico  tipico   tipico  tipico  atipico
3   tipico  tipico   tipico  tipico   tipico
4   tipico  tipico   tipico  tipico   tipico
..     ...     ...      ...     ...      ...
66  tipico  tipico  atipico  tipico   tipico
67  tipico  tipico   tipico  tipico   tipico
68  tipico  tipico   tipico  tipico   tipico
69  tipico  tipico   tipico  tipico   tipico
70  tipico  tipico   tipico  tipico   tipico

[71 rows x 5 columns]

Se agrega la columna ciudades al dataframe outliers_st

In [31]:
outliers_st = outliers_st.set_index(usos_wide["Ciudades"])

KeyError: 'Ciudades'

In [32]:
outliers_st

        F1      F2       F3      F4       F5
0   tipico  tipico   tipico  tipico   tipico
1   tipico  tipico   tipico  tipico   tipico
2   tipico  tipico   tipico  tipico  atipico
3   tipico  tipico   tipico  tipico   tipico
4   tipico  tipico   tipico  tipico   tipico
..     ...     ...      ...     ...      ...
66  tipico  tipico  atipico  tipico   tipico
67  tipico  tipico   tipico  tipico   tipico
68  tipico  tipico   tipico  tipico   tipico
69  tipico  tipico   tipico  tipico   tipico
70  tipico  tipico   tipico  tipico   tipico

[71 rows x 5 columns]

In [34]:
def count_outliers(df):
    
    """ Esta función cuenta el número de outliers para cada columna

    Returns:
        _type_: Devuelve un dataframe 
    """
    counts = df.apply(lambda column: (column == 'atipico').sum())
    return pd.DataFrame({'Outliers_Count': counts})

In [60]:
outliers_count_df = count_outliers(outliers_st)

outliers_count_df

             Outliers_Count
Ciudades                  0
TA                        4
LPI                       7
AREA_MN                   3
AREA_AM                   9
AREA_MD                   2
GYRATE_MN                 1
GYRATE_AM                 5
GYRATE_MD                 2
PRD                       1
SHDI                      7
SIDI                      5
MSIDI                     4
SHEI                      2
SIEI                      5
MSIEI                     4
NP                        5
DIVISION                  8
SPLIT                     4
MESH                      6
PAFRAC                    5
SHAPE_MN                  6
SHAPE_MD                  7
PARA_MN                   2
PARA_MD                   0
FRAC_MD                   4
SQUARE_MN                15
SQUARE_MD                 8
IJI                       0
LSI                       2
TE                        5
ED                        2
RNMDP_2020                3
PobT                      8
PobH                      8
PobM                      8
Vehiculos                 8
T_Viviendas               6
T_Viv_Prin                7
T_Viv_Sec                 7
Viv_vacias                6
COM                       0
ED_SING                   4
EQUIP                     2
IND                       2
OCIO                      6
OFI                       6
RES_PLU                   4
RES_UNI                   1

Buscamos un procedimiento para agrupar cuales son las ciudades que son outliers en cada caracteristicas, para saber el número, y cuáles son.

In [63]:
# Se crea un diccionario vacío
outliers_cases = {}

# Se itera sobre cada columna
for column in outliers_st.columns:
    # expresion para crear una lista de los elementos ciudades que cumplen la condición de ser un dato atipico
    outliers_cases[column] = list(outliers_st[outliers_st[column] == 'atipico']['Ciudades'])

print(outliers_cases)

{'Ciudades': [], 'TA': ['Barcelona', 'Córdoba', 'Marbella', 'Zaragoza'], 'LPI': ['Cáceres', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora'], 'AREA_MN': ['Alcobendas', 'Toledo', 'Torrejón de Ardoz'], 'AREA_AM': ['Cáceres', 'Cartagena', 'Dos Hermanas', 'Jerez de la Frontera', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz', 'Valladolid'], 'AREA_MD': ['Alcobendas', 'Marbella'], 'GYRATE_MN': ['Alcobendas'], 'GYRATE_AM': ['Cáceres', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz'], 'GYRATE_MD': ['Alcobendas', 'Marbella'], 'PRD': ['Santa Coloma de Gramenet'], 'SHDI': ['Algeciras', 'Badajoz', 'Burgos', 'Córdoba', 'Marbella', 'Ourense', 'Torrejón de Ardoz'], 'SIDI': ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz'], 'MSIDI': ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz'], 'SHEI': ['Badajoz', 'Torrejón de Ardoz'], 'SIEI': ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz'], 'MSIEI': ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz'], 'NP': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla'], 'DIVISION': ['Cáceres', 'Huelva', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora'], 'SPLIT': ['Barcelona', 'Córdoba', 'Málaga', 'San Cristóbal de La Laguna'], 'MESH': ['Cáceres', 'Leganés', 'Madrid', 'Parla', 'Toledo', 'Torrejón de Ardoz'], 'PAFRAC': ['Ceuta', 'Lugo', 'Ourense', 'Pontevedra', 'Vigo'], 'SHAPE_MN': ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Sabadell', 'Terrassa'], 'SHAPE_MD': ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa'], 'PARA_MN': ['Ceuta', 'Sevilla'], 'PARA_MD': [], 'FRAC_MD': ['Badalona', 'Mataró', 'Sabadell', 'Terrassa'], 'SQUARE_MN': ['Alcobendas', 'Badalona', 'Coruña, A', 'Elche/Elx', 'Jerez de la Frontera', 'Madrid', 'Marbella', 'Mataró', 'Murcia', 'Parla', 'Sabadell', 'Sevilla', 'Terrassa', 'Toledo', 'Zaragoza'], 'SQUARE_MD': ['Badalona', "Hospitalet de Llobregat, L'", 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa'], 'IJI': [], 'LSI': ['Barcelona', 'Madrid'], 'TE': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla'], 'ED': ['Santa Coloma de Gramenet', 'Torrejón de Ardoz'], 'RNMDP_2020': ['Alcobendas', 'Barcelona', 'Madrid'], 'PobT': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'PobH': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'PobM': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'Vehiculos': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viviendas': ['Barcelona', 'Madrid', 'Málaga', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viv_Prin': ['Barcelona', 'Madrid', 'Málaga', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viv_Sec': ['Alicante/Alacant', 'Barcelona', 'Cartagena', 'Madrid', 'Marbella', 'Sevilla', 'Valencia'], 'Viv_vacias': ['Barcelona', 'Madrid', 'Murcia', 'Sevilla', 'Valencia', 'Zaragoza'], 'COM': [], 'ED_SING': ['Ceuta', 'Leganés', 'Melilla', 'Torrejón de Ardoz'], 'EQUIP': ['Alcorcón', 'Ciudad Real'], 'IND': ['Burgos', 'Fuenlabrada'], 'OCIO': ['Alicante/Alacant', 'Guadalajara', 'Marbella', 'Mataró', 'Palma de Mallorca', 'Segovia'], 'OFI': ['Alcalá de Henares', 'Alcobendas', 'Barcelona', 'Madrid', 'Parla', 'Tarragona'], 'RES_PLU': ['Barcelona', 'Cádiz', 'Santa Coloma de Gramenet', 'Valencia'], 'RES_UNI': ['Badajoz']}

In [64]:
for variable, ciudades in outliers_cases.items():
    print(f"Atipicos for {variable}: {ciudades}")

Atipicos for Ciudades: []
Atipicos for TA: ['Barcelona', 'Córdoba', 'Marbella', 'Zaragoza']
Atipicos for LPI: ['Cáceres', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora']
Atipicos for AREA_MN: ['Alcobendas', 'Toledo', 'Torrejón de Ardoz']
Atipicos for AREA_AM: ['Cáceres', 'Cartagena', 'Dos Hermanas', 'Jerez de la Frontera', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz', 'Valladolid']
Atipicos for AREA_MD: ['Alcobendas', 'Marbella']
Atipicos for GYRATE_MN: ['Alcobendas']
Atipicos for GYRATE_AM: ['Cáceres', 'Leganés', 'Parla', 'Toledo', 'Torrejón de Ardoz']
Atipicos for GYRATE_MD: ['Alcobendas', 'Marbella']
Atipicos for PRD: ['Santa Coloma de Gramenet']
Atipicos for SHDI: ['Algeciras', 'Badajoz', 'Burgos', 'Córdoba', 'Marbella', 'Ourense', 'Torrejón de Ardoz']
Atipicos for SIDI: ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz']
Atipicos for MSIDI: ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz']
Atipicos for SHEI: ['Badajoz', 'Torrejón de Ardoz']
Atipicos for SIEI: ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz']
Atipicos for MSIEI: ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz']
Atipicos for NP: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla']
Atipicos for DIVISION: ['Cáceres', 'Huelva', 'Leganés', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora']
Atipicos for SPLIT: ['Barcelona', 'Córdoba', 'Málaga', 'San Cristóbal de La Laguna']
Atipicos for MESH: ['Cáceres', 'Leganés', 'Madrid', 'Parla', 'Toledo', 'Torrejón de Ardoz']
Atipicos for PAFRAC: ['Ceuta', 'Lugo', 'Ourense', 'Pontevedra', 'Vigo']
Atipicos for SHAPE_MN: ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Sabadell', 'Terrassa']
Atipicos for SHAPE_MD: ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa']
Atipicos for PARA_MN: ['Ceuta', 'Sevilla']
Atipicos for PARA_MD: []
Atipicos for FRAC_MD: ['Badalona', 'Mataró', 'Sabadell', 'Terrassa']
Atipicos for SQUARE_MN: ['Alcobendas', 'Badalona', 'Coruña, A', 'Elche/Elx', 'Jerez de la Frontera', 'Madrid', 'Marbella', 'Mataró', 'Murcia', 'Parla', 'Sabadell', 'Sevilla', 'Terrassa', 'Toledo', 'Zaragoza']
Atipicos for SQUARE_MD: ['Badalona', "Hospitalet de Llobregat, L'", 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa']
Atipicos for IJI: []
Atipicos for LSI: ['Barcelona', 'Madrid']
Atipicos for TE: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla']
Atipicos for ED: ['Santa Coloma de Gramenet', 'Torrejón de Ardoz']
Atipicos for RNMDP_2020: ['Alcobendas', 'Barcelona', 'Madrid']
Atipicos for PobT: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for PobH: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for PobM: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for Vehiculos: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viviendas: ['Barcelona', 'Madrid', 'Málaga', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viv_Prin: ['Barcelona', 'Madrid', 'Málaga', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viv_Sec: ['Alicante/Alacant', 'Barcelona', 'Cartagena', 'Madrid', 'Marbella', 'Sevilla', 'Valencia']
Atipicos for Viv_vacias: ['Barcelona', 'Madrid', 'Murcia', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for COM: []
Atipicos for ED_SING: ['Ceuta', 'Leganés', 'Melilla', 'Torrejón de Ardoz']
Atipicos for EQUIP: ['Alcorcón', 'Ciudad Real']
Atipicos for IND: ['Burgos', 'Fuenlabrada']
Atipicos for OCIO: ['Alicante/Alacant', 'Guadalajara', 'Marbella', 'Mataró', 'Palma de Mallorca', 'Segovia']
Atipicos for OFI: ['Alcalá de Henares', 'Alcobendas', 'Barcelona', 'Madrid', 'Parla', 'Tarragona']
Atipicos for RES_PLU: ['Barcelona', 'Cádiz', 'Santa Coloma de Gramenet', 'Valencia']
Atipicos for RES_UNI: ['Badajoz']